# Own parameterised AI - analyse results

Extracts and visualises results from 02_own_parameterised_ai_results_01_raw.csv.

In [1]:
from datetime import datetime
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
df = pd.read_csv('02_own_parameterised_ai_results_01_raw.csv', parse_dates=[2])
df

     max_buses  seed       date  money
0            1     0 1950-02-01  99808
1            1     0 1950-03-01  99616
2            1     0 1950-04-01  64313
3            1     0 1950-05-01  64086
4            1     0 1950-06-01  63858
..         ...   ...        ...    ...
935         16     3 1953-08-01 -23188
936         16     3 1953-09-01 -23998
937         16     3 1953-10-01 -24791
938         16     3 1953-11-01 -25604
939         16     3 1953-12-01 -26401

[940 rows x 4 columns]

In [6]:
df_to_group = df.groupby(['max_buses', 'date'])
df_mean_standard_deviation = pd.concat([
    df_to_group.agg('mean')['money'].rename('mean'),
    df_to_group.agg('std')['money'].rename('standard_deviation'),
], axis=1).stack().unstack(level=0).unstack(level=1)
df_mean_standard_deviation.to_csv('02_own_parameterised_ai_results_02_mean_standard_deviation.csv', index=False)